@import "bootstrap";
@import "compass";
@import "compass/css3/font-face";
@import "compass/reset";

$main-width: 1080px;
$main-height: 760px;

@mixin fontsize($size: 24, $base: 16) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}

@mixin font {
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

html {
  @include font;
  @include fontsize(14);
  line-height: 1.6;
}

p {
  text-align: justify;
  margin-bottom: 1em;
}

input {
//  width: 160px;
  position: absolute;
  z-index: 1;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  &#n {
    text-align: center;
  }
  &#s {
    text-align: center;
  }
  &#e {
    text-align: right;
  }
  &#w {
    text-align: left;
  }
}

message {
  display: inline-block;
  position: absolute;
  width: 120px;
  height: 40px;
  line-height: 40px;
  z-index: 1;
  font-weight: bold;
  text-align: center;
  color: white;
  @include fontsize(22);
  @include border-radius(8px);
  &.not-found {
    background-color: red;
  }
  &.duplicated {
    background-color: blue;
  }
}

#control-panel {
  $search-form-width: 154px;
  @include fontsize(22);
  position: fixed;
  top: 0;
  left: 0;
  input {
    position: relative;
    width: $search-form-width;
  }
}

#modal-panel {
  position: fixed;
  width: 48%;
  margin: 0 auto;
  padding: 1.4em;
  border: 2px solid #aaa;
  background: #fff;
  z-index: 2;
  p {
    text-align: center;
  }
  .create-room {
    margin-bottom: 1.4em;
    .room-form {
      position: relative;
      text-align: center;
      margin: 0 auto;
      #room {
        position: relative;
        width: 60%;
        text-align: center;
        margin: 0 auto;
      }
    }
  }
}