<% include header %>

<div id="main-panel">
  <input type="text" id="n" class="axis" value="">
  <input type="text" id="s" class="axis" value="">
  <input type="text" id="e" class="axis" value="">
  <input type="text" id="w" class="axis" value="">
</div>
<div id="control-panel">
  <input type="text" class="form-control search" value="9784845844159" placeholder="ISBN13" maxlength="16">
  <button id="submit" class="btn btn-default"><i class="fa fa-plus"></i></button>
  <button id="save" class="btn btn-default"><i class="fa fa-save"></i></button>
<!--  <button id="reset" class="btn btn-default"><i class="fa fa-eraser"></i></button> -->
</div><!-- #control-panel -->

